@(user: models.user.User)@layout.bootstrap("Play Silhouette Postgres Async Seed") {

 @(_navBar(user,"home"))


    <div class="container">
    <div class="row">
         <div class="col-md-12">
        <p>This is the admin tab</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <li><a href="@routes.ContestController.contestForm">Create Contest</a></li>
        <li><a href="@routes.ContestController.contestForm">Edit Contest</a></li>
        <li><a href="@routes.UserController.userInviteForm">Invite Users</a></li>
        <li><a href="@routes.UserController.editUsers">Edit User Roles</a></li>
      </div>
    </div>
</div>
}
