@(user: models.user.User)@layout.bootstrap("Play Silhouette Postgres Async Seed") {


      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
         <a href="/" class="pull-left"><img src="/assets/images/beaker.png" height="40"></a> 
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="@routes.HomeController.index">Thunderdome</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="@routes.HomeController.index">Home</a></li>
        @if(user.profiles.isEmpty) {
        <li><a href="#about">About</a></li>
        <li><a href="@routes.RegistrationController.registrationForm">Register</a></li>
        <li><a href="@routes.AuthenticationController.signInForm">Sign In</a></li>
        }else {
            <li><a href="@routes.ContestController.contests">Contests</a></li>
            <li><a href="@routes.ProfileController.profile">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="@routes.AuthenticationController.signOut">Log Out</a></li>
            <li><a href="@routes.HomeController.admin">Admin</a></li> }
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


  <div class="container">
  
    <div class="row">
      <div class="col-md-12">
        <img style="float:right" src="/assets/images/ml-preproc.png" height = 480/>
        <h2>Welcome to ML Thunderdome!</h2>
        <h4>Many models enter, One model leaves.</h4>

      
        <ul>
        @if(user.profiles.isEmpty) {
          <li>You are not currently logged, sign in or register!</li>
          <li><a href="@routes.RegistrationController.registrationForm">Register</a></li>
          <li><a href="@routes.AuthenticationController.signInForm">Sign In</a></li>
        } else {
          <li>You're signed in as user @user.username.map { un =>: @{un} }</li>
          <li>
            Profiles:
            @user.profiles.map { p =>
              <div>@p.providerID: @p.providerKey</div>
            }
          </li>
          <li><a href="@routes.ProfileController.profile">View Profile</a></li>
        }
        </ul>
      </div>
    </div>
  </div>
}
