@(user: models.user.User, form: Form[models.user.RegistrationData])(
  implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.bootstrap("Register") {


      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
         <a href="/" class="pull-left"><img src="/assets/images/beaker.png" height="40"></a> 
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="@routes.HomeController.index">Thunderdome</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="@routes.HomeController.index">Home</a></li>
        @if(user.profiles.isEmpty) {
        <li><a href="#about">About</a></li>
        <li  class="active"><a href="@routes.RegistrationController.registrationForm">Register</a></li>
        <li><a href="@routes.AuthenticationController.signInForm">Sign In</a></li>
        }else {
            <li><a href="""@routes.ContestController.contests""">Contests</a></li>
            <li><a href="@routes.ProfileController.profile">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="@routes.AuthenticationController.signOut">Log Out</a></li>
            <li><a href="@routes.HomeController.admin">Admin</a></li> }
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>




  <div class="sign-up">
    @flash.get("error").map { e =>
      <div class="error">@e</div>
    }
    <form method="post" action="@controllers.routes.RegistrationController.register()">
      <input type="text" class="form-control" name="username" value="@form("username").value" placeholder="Username" />
      @if(form.error("username").isDefined) {
        <em>@Messages(form.error("username").get.message)</em>
      }
      <input type="email" class="form-control" name="email" value="@form("email").value" placeholder="Email" />
      @if(form.error("email").isDefined) {
        <em>@Messages(form.error("email").get.message)</em>
      }
      <input type="password" class="form-control" name="password" value="" placeholder="Password" />
      @if(form.error("password").isDefined) {
        <em>@Messages(form.error("password").get.message)</em>
      }
      <br/>
      <input type="submit" class="submit" value="Register" />
    </form>

    @defining(services.user.SocialAuthProviders.providers) { providers =>
      @if(providers.nonEmpty) {
        <div>
          <p>Or, sign in with your social account</p>
          <div>
          @for(p <- providers if p._1 != "credentials") {
            <a title="Sign in with @p._2" href="@controllers.routes.AuthenticationController.authenticateSocial(p._1)" class="provider @p._1">
              <img src="@routes.Assets.versioned(s"images/providers/${p._1}.png")">
            </a>
          }
          </div>
        </div>
      }
    }
  </div>
}
