@(user: models.user.User)@layout.bootstrap("Admin") {

 @(_navBar(user,"home"))


    <div class="container">
    <div class="row">
         <div class="col-md-12">
        <p>This is the admin tab</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <li><a href="@routes.AdminController.contestForm">Create Contest</a></li>
        <li><a href="@routes.AdminController.inviteUsers">Invite Users</a></li>
        <li><a href="@routes.AdminController.editUsers">Edit User Roles</a></li>
      </div>
    </div>
</div>
}
