@(user: models.user.User, contestForm: Form[models.user.ContestData])(implicit messages: Messages)
@import helper._ 

@layout.bootstrap("Contest Creation") {

 @(_navBar(user,"home"))

<div class="container">
    <h1>Contest Creation</h1>
    @form(action=controllers.routes.ContestController.create()) {
        @inputText(contestForm("contest_name"))
        @inputText(contestForm("contest_description"))
        @inputDate(contestForm("contest_start"))
        @inputDate(contestForm("contest_end"))
        @inputText(contestForm("evaluation_id"))
        @inputText(contestForm("benchmark_value"))
        <input type="submit" value="Submit">
    }
</div>
}

