@(user: models.user.User, contestForm: Form[models.user.ContestData])(implicit messages: Messages)
@import helper._ 

@layout.bootstrap("Contest Creation") {

 @(_navBar(user,"home"))

    <h1>Customer Form</h1>
    @form(action=controllers.routes.ContestController.create()) {
        @inputText(contestForm("contest_name"))
        @inputText(contestForm("contest_description"))
        @inputText(contestForm("contest_start"))
        @inputText(contestForm("contest_end"))
        @inputText(contestForm("evaluation_id"))
        @inputText(contestForm("benchmark_value"))
        <input type="submit" value="Submit">
    }
}

