@(user: models.user.User, 
SubmissionForm: Form[models.user.SubmissionData],
contest_id:String)(implicit messages: Messages)
@import helper._
@import models.user._
@layout.bootstrap("Submission") {



@(_navBar(user,"home"))

<div class="container">
    <h1>Contest Submission @contest_id</h1>

    
    @form(action=controllers.routes.SubmissionController.create(), 
          'enctype -> "multipart/form-data") {
        <input type="hidden" name="contest_id" value=@contest_id.toInt>
        @textarea(SubmissionForm("submission_notes"))
        @inputFile(SubmissionForm("submission"))
        <input type="submit" value="Submit">
         }
</div>

}