@(user: models.user.User, contest_id:String)@layout.bootstrap("Submission") {

 @(_navBar(user,"home"))

    <div class="container">
    <div class="row">
      <div class="col-md-12">
       <p>Contest @contest_id</p>
        @if(user.profiles.isEmpty) {
          <ul>
          <li>You are not currently logged, sign in or register!</li>
          <li><a href="@routes.RegistrationController.registrationForm">Register</a></li>
          <li><a href="@routes.AuthenticationController.signInForm">Sign In</a></li>
          </ul>
        } else {
            @helper.form(action = routes.SubmissionController.upload, 'enctype -> "multipart/form-data") {
    
                <input type="file" name="submission">
            
                <p>
                    <input type="submit">
                </p>
                
            }
        }
        
      </div>
    </div>
  </div>
}
